entrypoint = "index.ts"
modules = ["bun-1.0:v1-20230911-f253fb1"]

hidden = [".config", "bun.lockb"]

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "bun run index.ts"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 8080
externalPort = 80
